automation/n8n/workflows/capitalflow-manual-collections.json
[
  {
    "id": "capitalflowManualCollections",
    "name": "CapitalFlow - Cobranca Manual Imediata",
    "active": true,
    "nodes": [
      {
        "parameters": { "rule": { "interval": [{ "field": "seconds", "secondsInterval": 10 }] } },
        "id": "manual-collection-schedule",
        "name": "Every 10 Seconds",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [-520, 0]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://hzchchbxkhryextaymkn.supabase.co/functions/v1/capitalflow-manual-collections",
          "sendHeaders": true,
          "headerParameters": { "parameters": [{ "name": "x-capitalflow-secret", "value": "={{ $env.CAPITALFLOW_N8N_SECRET }}" }] },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ action: 'claim', profile_id: '62dcbb45-f02c-42ba-84a4-916af9854dea' }) }}",
          "options": { "timeout": 15000 }
        },
        "id": "claim-manual-collections",
        "name": "Claim Pending Collections",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [-300, 0]
      },
      {
        "parameters": { "jsCode": "return ($json.messages || []).filter((item) => item.queue_id && item.chat_id && item.message).map((item) => ({ json: item }));" },
        "id": "expand-manual-collections",
        "name": "Expand Pending Collections",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [-80, 0]
      },
      {
        "parameters": {
          "url": "=http://waha:3000/api/contacts/check-exists",
          "sendQuery": true,
          "queryParameters": { "parameters": [{ "name": "session", "value": "={{ $json.session }}" }, { "name": "phone", "value": "={{ $json.chat_id.replace('@c.us', '') }}" }] },
          "options": { "timeout": 15000 }
        },
        "id": "manual-resolve-whatsapp-contact",
        "name": "Resolve WhatsApp Contact",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [140, 0]
      },
      {
        "parameters": {
          "jsCode": "const source = $('Expand Pending Collections').item.json;\nif (!$json.numberExists || !$json.chatId) throw new Error('Numero nao existe no WhatsApp');\nreturn [{ json: { ...source, chat_id: $json.chatId } }];"
        },
        "id": "manual-attach-whatsapp-contact",
        "name": "Attach Resolved Contact",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [360, 0]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.CAPITALFLOW_LOCAL_AI_URL || \"http://koboldcpp:5001/v1/chat/completions\" }}",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ model: $env.CAPITALFLOW_LOCAL_AI_MODEL || \"koboldcpp/Qwen3-4B-Q4_K_M\", messages: [{ role: \"system\", content: \"/no_think\\nReescreva a mensagem como um atendente humano brasileiro, natural, breve e respeitoso. Preserve exatamente todos os valores, datas e links. Nao invente informacao, nao ameace, nao constranja, nao ofereca emprestimo e nao use menus. Retorne somente a mensagem final.\" }, { role: \"user\", content: $json.message }], temperature: 0.35, max_tokens: 350, stream: false }) }}",
          "options": { "timeout": 45000 }
        },
        "id": "manual-collection-local-ai",
        "name": "Local AI Naturalize",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [580, 0],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const source = $('Attach Resolved Contact').item.json;\nconst raw = String($json?.choices?.[0]?.message?.content || $json?.choices?.[0]?.text || '').replace(/<think>[\\s\\S]*?<\\/think>/gi, '').replace(/\\/no_think/gi, '').trim();\nconst required = [...String(source.message).matchAll(/https?:\\/\\/\\S+|R\\$\\s*[\\d.,]+|\\b\\d{2}\\/\\d{2}\\/\\d{4}\\b/g)].map((match) => match[0].replace(/[.,;:!?]+$/, ''));\nconst valid = raw.length >= 20 && raw.length <= 1800 && required.every((token) => raw.includes(token));\nreturn [{ json: { ...source, message: valid ? raw : source.message, ai_used: valid } }];"
        },
        "id": "manual-collection-ai-guard",
        "name": "Guard Financial Facts",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [800, 0]
      },
      {
        "parameters": {
          "resource": "Chatting",
          "operation": "Send Text",
          "session": "={{ $json.session }}",
          "chatId": "={{ $json.chat_id }}",
          "text": "={{ $json.message }}",
          "requestOptions": {}
        },
        "id": "send-manual-collection",
        "name": "Send Manual Collection",
        "type": "n8n-nodes-waha.WAHA",
        "typeVersion": 202411,
        "position": [1020, 0],
        "onError": "continueErrorOutput",
        "credentials": { "wahaApi": { "id": "fSoBCAg2xaTKYlOi", "name": "WAHA account" } }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://hzchchbxkhryextaymkn.supabase.co/functions/v1/capitalflow-manual-collections",
          "sendHeaders": true,
          "headerParameters": { "parameters": [{ "name": "x-capitalflow-secret", "value": "={{ $env.CAPITALFLOW_N8N_SECRET }}" }] },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ action: 'ack', profile_id: '62dcbb45-f02c-42ba-84a4-916af9854dea', queue_id: $('Expand Pending Collections').item.json.queue_id, success: true }) }}",
          "options": { "timeout": 15000 }
        },
        "id": "ack-manual-collection-success",
        "name": "Confirm Manual Collection",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [1240, -80]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://hzchchbxkhryextaymkn.supabase.co/functions/v1/capitalflow-manual-collections",
          "sendHeaders": true,
          "headerParameters": { "parameters": [{ "name": "x-capitalflow-secret", "value": "={{ $env.CAPITALFLOW_N8N_SECRET }}" }] },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ action: 'ack', profile_id: '62dcbb45-f02c-42ba-84a4-916af9854dea', queue_id: $('Expand Pending Collections').item.json.queue_id, success: false, error: $json.error?.message || $json.message || 'Falha no WAHA' }) }}",
          "options": { "timeout": 15000 }
        },
        "id": "ack-manual-collection-error",
        "name": "Fail Manual Collection",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [1240, 100]
      }
    ],
    "connections": {
      "Every 10 Seconds": { "main": [[{ "node": "Claim Pending Collections", "type": "main", "index": 0 }]] },
      "Claim Pending Collections": { "main": [[{ "node": "Expand Pending Collections", "type": "main", "index": 0 }]] },
      "Expand Pending Collections": { "main": [[{ "node": "Resolve WhatsApp Contact", "type": "main", "index": 0 }]] },
      "Resolve WhatsApp Contact": { "main": [[{ "node": "Attach Resolved Contact", "type": "main", "index": 0 }]] },
      "Attach Resolved Contact": { "main": [[{ "node": "Local AI Naturalize", "type": "main", "index": 0 }]] },
      "Local AI Naturalize": { "main": [[{ "node": "Guard Financial Facts", "type": "main", "index": 0 }]] },
      "Guard Financial Facts": { "main": [[{ "node": "Send Manual Collection", "type": "main", "index": 0 }]] },
      "Send Manual Collection": { "main": [[{ "node": "Confirm Manual Collection", "type": "main", "index": 0 }], [{ "node": "Fail Manual Collection", "type": "main", "index": 0 }]] }
    },
    "settings": { "executionOrder": "v1", "timezone": "America/Manaus" },
    "pinData": {},
    "tags": []
  }
]
